@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("../fonts/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("../fonts/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

body {
  font-family: "Gotham Pro";
  background: #FCFDFE;
}

.button {
  border: 2px solid #FF4646;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  padding: 20px 40px;
  text-transform: uppercase;
  color: #FF4646;
  transition: .5s;
}

.button:after {
  position: absolute;
  content: "";
  background-color: #FF4646;
  height: 1px;
  width: 20px;
  top: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: -10px;
  transition: .5s;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff4646;
}

.button:hover:after {
  background-color: #fff;
  right: 10px;
}

header .contacts {
  border-bottom: 1px solid #DADDE3;
  padding: 10px 0;
}

header .contacts .row {
  display: flex;
  align-items: center;
}

header .contacts a {
  font-size: 10px;
  color: #242326;
}

header .contacts .language {
  text-align: right;
}

header .contacts .language a {
  font-weight: bold;
  font-size: 12px;
  color: #A4866D;
}

header .menu {
  padding: 15px 0;
}

header .menu .row {
  display: flex;
  align-items: center;
}

header .menu .header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header .menu .header-menu li {
  margin-right: 40px;
}

header .menu .header-menu li a {
  font-weight: bold;
  font-size: 12px;
  color: #242326;
}

header .menu .header-menu li a:hover {
  color: #FF4646;
  text-decoration: none;
}

header .menu .user {
  text-align: right;
  cursor: pointer;
}

header .menu .user i {
  color: #242326;
  transition: .5s;
}

header .menu .user i:hover {
  color: #FF4646;
}

.hero__section {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 690px;
  position: relative;
  z-index: 1;
}

.hero__section:after {
  top: 0;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero__section:before {
  position: absolute;
  content: url(../images/dots.png);
  width: 380px;
  height: 130px;
  right: 150px;
  bottom: 80px;
}

.hero__section .caption {
  padding: 160px 0;
  max-width: 755px;
}

.hero__section .caption h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__section .caption h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.7;
}

.hero__section .caption .form {
  padding-top: 50px;
}

.hero__section .caption .form input {
  max-width: 560px;
  width: 100%;
  height: 50px;
}

.hero__section .caption .form button {
  border: 0;
  margin-top: 25px;
  display: block;
  width: 165px;
  height: 50px;
  background: #FF4646;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.hero__section .caption .form button:after {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 20px;
  top: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: -10px;
}

.work {
  padding: 70px 0 90px 0;
  position: relative;
}

.work:after {
  position: absolute;
  content: url("../images/dots.png");
  width: 380px;
  height: 130px;
  left: 60px;
  bottom: 95px;
  z-index: -1;
}

.work .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.work__heading {
  margin-bottom: 50px;
}

.work__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
}

.work__item {
  height: 190px;
  border: 2px solid #F3F1F0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.work__item h3 {
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  font-weight: normal;
}

.work__button {
  text-align: center;
  margin-top: 50px;
}

.routine__section .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.routine__section-info {
  background-color: #fff;
  text-align: center;
  padding: 75px 90px;
}

.routine__section-info h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #242326;
}

.routine__section-info p {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #242326;
}

.how-work__section {
  position: relative;
  padding: 90px 0;
}

.how-work__section:after {
  position: absolute;
  content: url("../images/dots.png");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 380px;
  height: 130px;
  right: 50px;
  bottom: 95px;
  z-index: -1;
}

.how-work__section .how-work__heading {
  margin-bottom: 60px;
}

.how-work__section .how-work__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #242326;
}

.how-work__section .how-work__item {
  background: #E5E5E5;
  border: 2px solid #A6886D;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  position: relative;
}

.how-work__section .how-work__item p {
  z-index: 2;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #242326;
}

.how-work__section .how-work__item p .bold {
  font-weight: bold;
}

.how-work__section .how-work__item .number {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  font-weight: bold;
  font-size: 96px;
  line-height: 92px;
  color: #F4F2F0;
}

.how-work__section .how-work__item:hover {
  background: #FF4646;
  border: 2px solid #FF4646;
}

.how-work__section .how-work__item:hover p {
  color: #fff;
}

.how-work__section .how-work__item:hover .number {
  color: #FFFFFF;
  opacity: 0.2;
}

.why-us__section {
  padding: 160px 0;
  background-image: url(../images/why_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.why-us__section:after {
  background: #000000;
  opacity: 0.8;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.why-us__section .why-us__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.why-us__section .why-us__item {
  display: flex;
  margin: 40px 0;
}

.why-us__section .why-us__item-icon {
  padding-right: 20px;
}

.why-us__section .why-us__item-icon img {
  padding-top: 25px;
}

.why-us__section .why-us__item-text h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.why-us__section .why-us__item-text p {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.7;
}

.why-it__section {
  padding: 90px 0;
  position: relative;
}

.why-it__section:after {
  position: absolute;
  content: url("../images/dots.png");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 380px;
  height: 130px;
  right: 155px;
  top: 98px;
  z-index: -2;
}

.why-it__section .why-it__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
}

.why-it__section .why-it__list ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  max-width: 700px;
}

.why-it__section .why-it__list ul li {
  margin: 40px 0 60px 0;
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.why-it__section .why-it__list ul li .bold {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 5px;
}

.why-it__section .why-it__list ul li .bold.red {
  color: #FF4646;
}

.why-it__section .why-it__list ul li:before {
  content: "";
  left: -10px;
  top: 12px;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FF4646;
}

.best__section {
  padding: 70px 0 90px 0;
  background: url("../images/best.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.best__section:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FF4646;
  opacity: 0.9;
  z-index: -1;
}

.best__section .best__heading h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.best__section .best__heading p {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.project {
  padding: 90px 0 120px 0;
}

.project__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
}

.project__image img {
  height: 460px;
}

.project__text {
  height: 460px;
  background: #242326;
  padding: 60px;
}

.project__text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.project__text .project__button {
  margin-top: 80px;
}

.news {
  padding: 50px 0 70px;
  background-color: #fff;
}

.news__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
}

.news__heading h3 {
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  margin-bottom: 60px;
}

.news__item {
  display: flex;
}

.news__item-image {
  width: 35%;
}

.news__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__item-cats {
  display: flex;
  justify-content: space-between;
}

.news__item-cat p {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #FFFFFF;
  background: #A4866D;
  padding: 7px 9px;
}

.news__item-text {
  margin-bottom: 55px;
}

.news__item-text h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #242326;
  margin-bottom: 11px;
}

.news__item-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #242326;
}

.news__item-link a {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FF4646;
}

.news__item-info {
  padding: 30px;
  width: 65%;
  background: #FCFDFE;
}

.news__button {
  margin-top: 80px;
  text-align: center;
}

footer {
  padding: 60px 0 60px 0;
  background: #232326;
  position: relative;
  z-index: 1;
}

footer:after {
  position: absolute;
  content: "";
  background-image: url(../images/back.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  left: 300px;
  width: 496px;
  height: 50px;
  z-index: -1;
}

footer:before {
  position: absolute;
  content: "";
  background-image: url(../images/top.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -150px;
  right: 0;
  width: 496px;
  height: 225px;
  z-index: -1;
}

footer .footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer__menu ul li {
  margin-bottom: 20px;
}

footer .footer__menu ul li:last-child {
  margin-bottom: 0;
}

footer .footer__menu ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
}

footer .form {
  margin-bottom: 33px;
  position: relative;
}

footer .form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 8px;
}

footer .form button {
  background: transparent;
  border: 0;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FF4646;
  right: 0px;
  top: 5px;
}

footer .contacts a {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

footer .contacts__wrapper {
  width: 365px;
  margin: 0 auto;
}

footer .socials {
  display: flex;
}

footer .socials a {
  color: #FF4646;
  display: block;
  margin-right: 20px;
}

footer .socials a i {
  font-size: 18px;
}

footer .site {
  margin-top: 54px;
}

footer .site a {
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
}

.news__archive-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #232326;
}

.news__archive-cats {
  display: flex;
  align-items: center;
}

.news__archive-cats h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  color: #242326;
  margin: 0;
}

.news__archive-cats p {
  padding-left: 35px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #242326;
  margin: 0;
}

.news__archive-cats p select {
  border: 0;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: none;
}

.news__archive .news__item {
  margin: 10px 0;
}

.news__archive .form__wrapper {
  background: #232326;
  padding: 50px 150px;
  margin: 50px 0;
}

.news__archive .form__wrapper .form {
  display: flex;
  align-items: center;
}

.news__archive .form__wrapper .form form {
  margin-bottom: 0;
  margin-top: 15px;
}

.news__archive .form__wrapper .form h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
  width: 175px;
  margin-right: 60px;
}

.news__archive .form__wrapper .form input {
  background: #39393B;
  width: 325px;
  height: 50px;
  border: 0;
  padding-left: 20px;
}

.news__archive .form__wrapper .form button {
  margin-left: 60px;
  border: 2px solid #FF4646;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  padding: 22px 40px 18px;
  text-transform: uppercase;
  color: #FF4646;
  background: transparent;
  transition: .5s;
}

.news__archive .form__wrapper .form button:after {
  position: absolute;
  content: "";
  background-color: #FF4646;
  height: 1px;
  width: 20px;
  top: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: -10px;
  transition: .5s;
}

.news__archive .form__wrapper .form button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff4646;
}

.news__archive .form__wrapper .form button:hover:after {
  background-color: #fff;
  right: 10px;
}

.pagination {
  margin: 30px 0 0 0;
}

.pagination a {
  color: #242326;
  padding: 0 3px;
}

.pagination a:hover {
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: #FF4646;
          text-decoration-color: #FF4646;
}

.us__section {
  background-image: url(../images/heroo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 690px;
  position: relative;
  z-index: -1;
}

.us__section .caption {
  padding: 250px 0 250px 0;
}

.us__section .caption h2 {
  color: #fff;
  opacity: 1;
}

.us__section:before {
  content: "";
}

.about-project__section {
  position: relative;
}

.about-project__section:after {
  position: absolute;
  content: url(../images/dots.png);
  width: 380px;
  height: 130px;
  top: 470px;
  left: 500px;
  z-index: -1;
}

.about-project__section .about-project__heading {
  margin-top: 90px;
}

.about-project__section .about-project__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
}

.about-project__section .about-project__list {
  margin-top: 75px;
}

.about-project__section .about-project__list .about-project-number p {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  position: relative;
}

.about-project__section .about-project__list .about-project-number p:after {
  content: "";
  position: absolute;
  left: 24px;
  top: 13px;
  width: 50px;
  height: 2px;
  background: #FF4646;
}

.about-project__section .about-project__list .about-project-text {
  padding-bottom: 80px;
}

.about-project__section .about-project__list .about-project-text .images {
  margin: 30px 0;
  display: flex;
}

.about-project__section .about-project__list .about-project-text img {
  margin: 0 10px;
  width: calc(100% - 20px);
  -o-object-fit: cover;
     object-fit: cover;
}

.about-project__section .about-project__list .about-project-text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.routine__us {
  margin-top: 90px;
}

.bold {
  font-weight: bold;
}

.register__section {
  padding: 90px 0 90px 0;
  position: relative;
}

.register__section:after {
  position: absolute;
  content: url(../images/dots.png);
  width: 380px;
  height: 130px;
  top: -40px;
  right: 10px;
  z-index: -1;
}

.register__section .register__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
  margin-bottom: 60px;
}

.register__section .register__form {
  display: flex;
  flex-wrap: wrap;
}

.register__section .register__form input {
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 51px;
  background: #FFFFFF;
}

.register__section .register__form button {
  border: 2px solid #FF4646;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  padding: 20px 40px;
  text-transform: uppercase;
  color: #FF4646;
  background: transparent;
  transition: .5s;
}

.register__section .register__form button:after {
  position: absolute;
  content: "";
  background-color: #FF4646;
  height: 1px;
  width: 20px;
  top: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: -10px;
  transition: .5s;
}

.register__section .register__form button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff4646;
}

.register__section .register__form button:hover:after {
  background-color: #fff;
  right: 10px;
}

.register__section .register__text {
  padding-left: 80px;
}

.register__section .register__text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  margin-bottom: 30px;
}

.breadcrumbs a {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #232326;
  opacity: 0.3;
}

.breadcrumbs a:after {
  content: ">";
  padding: 0 5px;
}

.breadcrumbs .active {
  opacity: 0.5;
}

.breadcrumbs .active:after {
  content: "";
}

.single__section .container {
  width: 750px;
}

.single__section .single__heading h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #232326;
}

.single__section .single__image {
  margin-bottom: 60px;
}

.single__section .single__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}

.single__section .single__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.single__section .single__info-socials a {
  padding: 0 10px;
}

.single__section .single__info-socials a i {
  color: #232326;
  font-size: 17px;
}

.single__section .single__info-cat {
  display: inline-block;
}

.single__section .single__info-cat a {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  padding: 5px 10px;
  border: 1px solid #A4866D;
  display: inline-block;
  color: #A4866D;
  transition: .5s;
  text-decoration: none;
}

.single__section .single__info-cat a:hover {
  background-color: #A4866D;
  color: #fff;
}

.single__section .single__info-date {
  display: inline-block;
}

.single__section .single__info-date p {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #242326;
  opacity: 0.3;
  border: 0;
}

.single__section .single__content blockquote {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  border-left: 2px solid #242326;
  margin-bottom: 20px;
}

.single__section .single__content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.single__section .single__content h3 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #242326;
}

.single__section .single__content img {
  margin: 30px 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single__section .single__content h4 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.single__section .single__content ul,
.single__section .single__content ol {
  margin-bottom: 20px;
}

.single__section .single__content ul li,
.single__section .single__content ol li {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.socials a i:hover {
  color: #FF4646;
}

.interest__section {
  padding: 60px 0 80px 0;
}

.interest__section .interest__heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #232326;
  margin-bottom: 60px;
}

.contacts__section {
  background: #232326;
}

.contacts__section .contacts__heading h2 {
  padding-top: 75px;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60px;
}

.contacts__section .contacts__data a {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contacts__section .contact__map img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__section .contact__form form span {
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
  margin-bottom: 25px;
  display: block;
}

.contacts__section .contact__form form input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 30px;
  max-width: 290px;
}

.contacts__section .contact__form form button {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FF4646;
  border: 0;
  position: relative;
  background: transparent;
}

.contacts__section .contact__form form button:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #FF4646;
  content: "";
  left: 0;
  bottom: -5px;
}

.contacts__section .contact__form form button:hover {
  color: #fff;
}

.contacts__section .contact__form form button:hover:after {
  background-color: #fff;
}

.faq__section .news__archive-cats {
  padding-bottom: 60px;
}

.card-header button {
  text-align: left;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #242326;
  min-height: 90px;
  padding-right: 50px;
  background: #FFFFFF;
  border: 1px solid #F2F0EE !important;
  position: relative;
  white-space: normal;
}

.card-header button:after {
  font-size: 20px;
  position: absolute;
  content: "\f068";
  color: #000000;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.card-header button:focus {
  color: #242326;
  text-decoration: none;
  background: #FFFFFF;
}

.card-header .btn.collapsed:after {
  content: "" !important;
}

.ask__question {
  z-index: 2;
  padding: 60px 0;
  margin-bottom: 60px;
  background: #232326;
}

.ask__question .row {
  margin-left: 0;
  margin-right: 0;
}

.ask__question .contact__form {
  padding-left: 200px;
}

.ask__question .contact__form h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
}

.ask__question .contact__form p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.ask__question .contacts__section {
  max-width: 90%;
}

.ask__question .contacts__section .contact__form {
  padding-left: 0;
}

.ask__question .contacts__section .contact__form input {
  max-width: 100%;
}

.hero__section .caption .form input {
  padding-left: 20px;
}

.card-body.single__content {
  padding-top: 10px;
}

.card-header button {
  transition: .4s;
}

.card-header button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

section {
  opacity: 1;
  transition: .5s;
}

.hide {
  display: none;
}

.hide-all {
  display: none;
}

.pop__up {
  position: fixed;
  background: rgba(36, 35, 38, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.pop__up-wrap {
  background-color: #fff;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop__up-text {
  padding: 30px;
}

.pop__up-text h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #242326;
  margin-bottom: 40px;
}

.pop__up-text label {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #242326;
}

.pop__up-text input {
  background: transparent;
  border: 1px solid #F3F1F0;
  height: 34px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
}

.pop__up-text button {
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF4646;
  border: 0;
  width: 164px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.pop__up-text button:hover {
  border: 1px solid #ff4646;
  color: #ff4646;
  background-color: #fff;
}

.pop__up .question {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.pop__up .question p {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #242326;
}

.pop__up .question p a {
  padding-left: 5px;
  font-weight: bold;
  color: #ff4646;
  transition: .5s;
  text-decoration: none;
}

.pop__up .question p a:hover {
  color: #000;
}

.pop__up .close {
  position: absolute;
  right: -15px;
  top: -25px;
}

.pop__up .close i {
  transition: .5s;
  color: #fff;
}

.pop__up .close i:hover {
  color: #ff4646;
}

.pop__up .recovery {
  flex-wrap: wrap;
  margin-top: 0;
}

.pop__up .recovery p {
  width: 100%;
  justify-content: center;
}

.card-header button:hover {
  background-color: #fff;
  text-decoration: none;
  color: #242326;
}

input:focus,
.card-header button:focus {
  outline: none !important;
}

footer form input {
  color: #fff;
}

footer .socials a i {
  transition: .5s;
}

footer .socials a i:hover {
  color: #fff;
}

.news__item-link a {
  transition: .5s;
}

.news__item-link a:hover {
  color: #000;
}

.hero__section .caption .form button:after {
  transition: .5s;
}

.hero__section .caption .form button:hover:after {
  right: 10px;
}

header .menu .header-menu li a {
  transition: .5s;
}

.responsive {
  display: none;
}

.contacts__section {
  position: relative;
  padding-bottom: 175px;
}

.pass {
  position: relative;
}

.pass i {
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 1;
  right: 5px;
  top: 12px;
  font-size: 12px;
  transition: .5s;
}

.pass i:hover {
  cursor: pointer;
  color: #ff4646;
}

.eye:before {
  content: "" !important;
}

.container {
  position: relative;
}

.container .line-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container .line {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.container .line:nth-child(1) {
  left: 0;
}

.container .line:nth-child(2) {
  left: 290px;
}

.container .line:nth-child(3) {
  left: 48%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.container .line:nth-child(4) {
  left: 52%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.container .line:nth-child(5) {
  right: 290px;
}

.container .line:nth-child(6) {
  right: 0;
}

.contacts__section .container {
  position: initial;
}

.contacts__section,
.why-us__section {
  position: relative;
}

.contacts__section .line,
.why-us__section .line {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
}

.contacts__section .line:nth-child(1),
.why-us__section .line:nth-child(1) {
  left: 240px;
}

.contacts__section .line:nth-child(2),
.why-us__section .line:nth-child(2) {
  left: 440px;
}

.contacts__section .line:nth-child(3),
.why-us__section .line:nth-child(3) {
  left: 48%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.contacts__section .line:nth-child(4),
.why-us__section .line:nth-child(4) {
  left: 52%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.contacts__section .line:nth-child(5),
.why-us__section .line:nth-child(5) {
  right: 440px;
}

.contacts__section .line:nth-child(6),
.why-us__section .line:nth-child(6) {
  right: 240px;
}

.card-body blockquote {
  border-color: #000;
}

.hero__section,
footer {
  overflow: hidden;
}

.line-fix {
  margin-left: -1px;
}

.why-us__item-text span {
  color: #FF4646;
}

.work__item {
  transition: .5s;
}

.work__item:hover {
  background-color: #FF4646;
}

.work__item:hover h3 {
  color: #fff;
}

.pop__up-wrap {
  height: 445px;
}

.pop__up-wrap .pop__up-text p {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #242326;
}

.pop__up-wrap .slick-dots {
  position: absolute;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  list-style: none;
}

.pop__up-wrap .slick-dots li {
  margin: 0 5px;
}

.pop__up-wrap .slick-dots li button {
  padding-left: 0;
  background: #242326;
  width: 5px;
  height: 5px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  opacity: .1;
}

.pop__up-wrap .slick-dots .slick-active button {
  background: #242326;
  width: 5px;
  height: 5px;
  opacity: 1;
}

.language ::-moz-selection {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #A4866D;
}

.language ::selection {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #A4866D;
}

.language select {
  background: none;
  border: 0;
}

.language select p {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #A4866D;
}

.cab__section {
  margin-bottom: 60px;
}

.cab__heading h2 {
  margin: 80px 0 40px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #232326;
}

.cab__profile {
  padding: 20px 20px 0 20px;
  background: #fff;
  border: 1px solid #F3F1F0;
}

.cab__profile .cab__add-wrapper {
  display: flex;
  justify-content: space-between;
}

.cab__profile .cab__add-wrapper a {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #232326;
  opacity: 0.3;
}

.cab__profile .cab__image {
  margin-top: 24px;
  text-align: center;
}

.cab__profile .cab__name h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #242326;
  margin: 20px 0 15px 0;
}

.cab__profile .cab__button {
  text-align: center;
  margin: 15px 0 30px;
}

.cab__profile .cab__button a {
  width: 208px;
  margin: 0 auto;
  display: block;
  color: #fff;
  background: #FF4646;
  border: 1px solid #FF4646;
}

.cab__profile .cab__button a:hover {
  background-color: #fff;
  border: 1px solid #FF4646;
  color: #FF4646;
}

.cab__profile .cab__button a:after {
  width: 0;
}

.cab__profile .cab__contact {
  padding-top: 30px;
  position: relative;
}

.cab__profile .cab__contact p {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #232326;
  opacity: 0.3;
  margin-bottom: 10px;
}

.cab__profile .cab__contact a {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  color: #242326;
}

.cab__profile .cab__contact:after {
  position: absolute;
  height: 1px;
  width: 113%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  content: "";
  background-color: #f3f1f0;
}

.cab__history {
  background: #FFFFFF;
  border: 1px solid #F3F1F0;
}

.cab__history h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #232326;
  opacity: 0.3;
  padding-left: 20px;
}

.cab__history .cab__history-wrapper .cab__history-item {
  display: flex;
  justify-content: space-between;
}

.cab__history .cab__history-wrapper .cab__history-item h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  color: #242326;
}

.cab__history .cab__history-wrapper .cab__history-item p {
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #242326;
}

.cab__history .cab__history-wrapper .cab__history-item .pdf {
  height: 20px;
  padding: 0 5px;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #242326;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #F2F0EE;
  box-sizing: border-box;
  border-radius: 50px;
}

.cab__history {
  margin-bottom: 20px;
}

.cab__history .notdone:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #FF4646;
  margin-left: 5px;
  border-radius: 50%;
}

.cab__history .done:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #76FF46;
  margin-left: 5px;
  border-radius: 50%;
}

.cab__history .status {
  display: flex;
  align-items: center;
}

.cab__history .status p {
  margin-left: 60px;
  margin-bottom: 0;
  padding-right: 20px;
}

.cab__history-item {
  display: flex;
  align-items: center;
}

.cab__history-item:nth-child(odd) {
  background: #FCFDFE;
}

.cab__history-item h3 {
  margin: 20px 0 20px 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  color: #242326;
  opacity: 1;
  text-transform: capitalize;
}

.cab__history .docs-item {
  position: relative;
}

.cab__history .docs-item .edits {
  position: absolute;
  right: -50px;
  bottom: -90px;
  display: none;
}

.cab__history .docs-item .edits p {
  margin-bottom: 0;
  padding: 12px 30px 12px 25px;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #242326;
  background-color: #fff;
}

.cab__history .docs-item .edits p:nth-child(even) {
  background: #FCFDFE;
}

.cab__history .docs-item .pdf {
  display: block;
  margin-left: 20px;
  background: #F3F1F0;
}

.cab__history .docs-item .pdf:after {
  content: "\f063";
  margin-left: 5px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.cab__history .docs-item .dots {
  display: block;
  background: transparent;
  border: none !important;
  margin-right: 20px;
  cursor: pointer;
}

.cab__history .docs-item .dots:after {
  content: "";
}

.cab__history .docs-item.edits-show .edits {
  display: block !important;
}

.us__section {
  background: url("../images/usbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.us__section .caption {
  padding-top: 175px;
}

.services__section {
  padding-top: 90px;
}

.services__section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__section h2 {
  cursor: pointer;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.services__section h2:after {
  right: 0;
  content: '\f063';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  bottom: 15px;
}

.services__section ul li {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #242326;
  margin-bottom: 15px;
}

.services__section a {
  margin-left: 20px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FF4646;
  margin-bottom: 15px;
}

.services__section .services__wrapper {
  width: calc(33% - 10px);
  margin: 0 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(166, 136, 109, 0.5);
}

.services__section .services__content {
  display: none;
}

.services__section .show-content h2:after {
  content: "\f062";
}

.services__section .show-content .services__content {
  display: block !important;
}

.permission__section {
  padding-top: 80px;
  padding-bottom: 90px;
}

.permission__section-heading {
  text-align: center;
}

.permission__section-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #232326;
  margin-bottom: 24px;
}

.permission__section-heading p {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #242326;
  margin-bottom: 24px;
}

.permission__section-heading form {
  margin: 0 auto;
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.permission__section-heading input {
  width: 100%;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #DADDE3;
  padding-left: 20px;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #3A3A3A;
  opacity: 0.5;
  margin-bottom: 15px;
}

.permission__section-heading button {
  background: #FF4646;
  color: #fff;
}

.permission__section-heading button:after {
  background-color: #fff;
}

.permission__section-heading button:hover {
  background: #fff;
  border: 1px solid #FF4646;
  color: #FF4646;
}

.permission__section-heading button:hover:after {
  color: #ff4646;
}

.permission-heading h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #242326;
  margin-bottom: 20px;
}

.permission-alpha {
  border-top: 2px solid #F4F2F0;
  border-bottom: 2px solid #F4F2F0;
  padding: 23px 0;
  margin-bottom: 60px;
}

.permission-alpha a {
  padding: 0 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #929193;
  transition: 0.4s;
  text-decoration: none !important;
  pointer-events: none;
}

.permission-alpha a.ok {
  color: #242326;
  pointer-events: auto;
}

.permission-alpha a.ok:hover {
  color: #FF4646;
}

.permission-wrapper {
  display: flex;
}

.permission-wrapper-letter {
  margin-right: 50px;
}

.permission-wrapper-text {
  padding-bottom: 60px;
}

.permission-wrapper-text ul li {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #242326;
}

.service__section {
  background-image: url("../images/servicebg.png");
}

.service__section .caption p {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #FF4646;
}

.service__section .col-md-5 {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 50px;
}

.service__section .form {
  max-width: 340px;
}

.service__section .form h3 {
  background: #FFFFFF;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  color: #242326;
}

.service__section .form form {
  background: #FCFDFE;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  text-align: center;
}

.service__section .form form label {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #242326;
}

.service__section .form form input {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #F3F1F0;
  height: 34px;
}

.service__section .form form button {
  background: #FF4646;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 215px;
  margin: 15px auto 30px auto;
  padding: 20px 0;
}

.work__item h3 {
  text-align: center;
}

.service__descrip {
  display: flex;
  height: 100%;
  max-height: 190px;
  align-items: center;
  padding-left: 52px;
}

.service__descrip p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  opacity: 0.5;
  position: relative;
  padding-left: 10px;
}

.service__descrip p:before {
  position: absolute;
  left: 0;
  top: 12px;
  content: "";
  width: 5px;
  height: 5px;
  background: #FF4646;
  border-radius: 50%;
}

.service__content:after {
  width: 0;
  content: "";
}

.why-us__section .row {
  display: flex;
  justify-content: center;
}

.prices__section {
  padding: 90px 0 70px 0;
}

.prices__section-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #242326;
  margin-bottom: 54px;
}

.prices__section .prices__item {
  display: flex;
  padding: 60px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 20px;
}

.prices__section .prices__item-left h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #242326;
}

.prices__section .prices__item-left p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #242326;
  margin-bottom: 0;
}

.prices__section .prices__item-right a {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FF4646;
}

.seek {
  padding: 50px 0 60px 0;
}

.seek__content {
  text-align: center;
}

.seek__content h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
}

.seek__content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #242326;
  margin-bottom: 15px;
}

.seek__content a {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FF4646;
}

.seek__content a:hover {
  color: #000;
}

.why-us__section .row {
  flex-wrap: wrap;
}

header .contacts .language {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  height: 20px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-right: -10px;
}

header .contacts .language:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #A4866D;
  position: absolute;
  right: 3px;
  top: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

header .contacts .language:hover {
  overflow: visible;
}

header .contacts .language:hover ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

header .contacts .language:hover ul li {
  opacity: 1;
}

header .contacts .language ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header .contacts .language ul li {
  list-style: none;
  opacity: 0;
  transition: 0.4s;
}

header .contacts .language ul li.active {
  opacity: 1;
  order: -1;
}

header .contacts .language ul a {
  padding: 5px 15px 5px 5px;
  color: #A4866D;
  text-decoration: none;
  transition: 0.3s;
  background-color: #FCFDFE;
}

header .contacts .language ul a:hover {
  color: #FF4646;
}

.hero__section .caption .form button {
  padding-top: 3px;
}

.work__item {
  transition: 0.4s;
}

.work__item h3 {
  transition: 0.4s;
}

.button {
  padding: 23px 40px 19px;
  transition: 0.4s;
}

.how-work__section .how-work__item {
  transition: 0.4s;
}

.how-work__section .how-work__item p,
.how-work__section .how-work__item .number {
  transition: 0.4s;
}

.news__item .news__item-image {
  display: block;
}

.news__item .news__item-text {
  display: block;
  text-decoration: none;
}

.news__item .news__item-cat {
  text-decoration: none;
}

.news__item .news__item-cat p {
  transition: 0.4s;
  padding: 9px 9px 7px;
  line-height: 1;
}

.news__item .news__item-cat:hover p {
  background-color: #FF4646;
}

.news__item .news__item-link a {
  text-decoration: none;
}

.news__item .news__item-link a:hover {
  color: #FF4646;
  text-decoration: underline;
}

.card-header button {
  padding: 6px 70px 6px 10px;
}

.single__section .single__info-date {
  padding-left: 10px;
}

.single__section {
  padding-top: 30px;
}

.single__section .single__info {
  padding-top: 20px;
}

.catssss {
  margin-bottom: 60px;
}

.cat-dd {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-left: 35px;
}

.cat-dd:hover {
  overflow: visible;
}

.cat-dd:hover ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cat-dd:hover ul li {
  opacity: 1;
}

.cat-dd ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #FCFDFE;
}

.cat-dd ul li {
  list-style: none;
  opacity: 0;
  transition: 0.4s;
}

.cat-dd ul li.active {
  opacity: 1;
  order: -1;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cat-dd ul li.active:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #A4866D;
  position: absolute;
  right: 3px;
  top: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.cat-dd ul a {
  padding: 5px 20px 5px 5px;
  color: #232326;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  cursor: pointer;
}

.cat-dd ul a:hover {
  color: #FF4646;
}

.news__item {
  transition: 0.4s;
}

.news__item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.news__archive .form__wrapper .form input {
  color: white;
}

.card-body.single__content {
  padding: 20px 30px 10px;
}

.card-body.single__content > * {
  margin-bottom: 20px;
  margin-top: 0;
}

.card-body.single__content > *:last-child {
  margin-bottom: 0;
}

.card-body.single__content h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.card-body.single__content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.permission-alpha {
  margin-bottom: 0;
}

.permission-wrapper {
  padding: 60px 0;
}

.permission-wrapper-letter h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}

.permission-wrapper-text {
  padding-bottom: 0;
}

.permission-wrapper-text li {
  margin-bottom: 10px;
}

.permission-wrapper-text li:last-child {
  margin-bottom: 0;
}

.permission-wrapper-text li a {
  font-size: 12px;
  line-height: 1.3;
  color: #242326;
  transition: 0.4s;
  text-decoration: none;
}

.permission-wrapper-text li a:hover {
  color: #FF4646;
}

.us__section {
  z-index: 1;
}

.service__section .form form input {
  padding: 10px;
  margin-bottom: 20px;
}

.service__section .form form button {
  margin-top: 0;
}

.work__item {
  padding: 10px;
}

.prices__section .prices__item {
  padding: 0;
  align-items: stretch;
  cursor: pointer;
}

.prices__section .prices__item:hover .prices__item-left {
  border: 1px solid #FF4646;
}

.prices__section .prices__item:hover .prices__item-right:before {
  opacity: 1;
}

.prices__section .prices__item:hover .prices__item-right p {
  color: white;
}

.prices__section .prices__item .prices__item-left {
  width: 60%;
  padding: 30px 60px;
  min-height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.4s;
}

.prices__section .prices__item .prices__item-left h3 {
  margin-top: 0;
}

.prices__section .prices__item .prices__item-left * {
  text-align: left;
}

.prices__section .prices__item .prices__item-right {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prices__section .prices__item .prices__item-right:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FF4646 0%, #FF4646 0.01%, #FF6A00 100%);
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
}

.prices__section .prices__item .prices__item-right p {
  position: relative;
  z-index: 2;
  color: #FF4646;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  transition: 0.4s;
}

.services__section-nb {
  padding-top: 50px;
  padding-bottom: 60px;
}

.services__section-nb .container {
  display: flex;
  align-items: flex-start;
}

.services__section-nb .coll-nb-dev {
  width: calc(33.333% - 13.33px);
  margin-right: 20px;
}

.services__section-nb .coll-nb-dev:last-child {
  margin-right: 0;
}

.services__section-nb .box-dev-item {
  border-bottom: 1px solid rgba(166, 136, 109, 0.5);
}

.services__section-nb .box-dev-item .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85px;
  padding: 10px 0;
}

.services__section-nb .box-dev-item .top a {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #242326;
  text-decoration: none;
  transition: 0.4s;
}

.services__section-nb .box-dev-item .top a:hover {
  color: #FF4646;
}

.services__section-nb .box-dev-item .top .arrow-btn {
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
}

.services__section-nb .box-dev-item .top .arrow-btn.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services__section-nb .box-dev-item .top .arrow-btn svg * {
  transition: 0.4s;
}

.services__section-nb .box-dev-item .top .arrow-btn:hover svg * {
  fill: #FF4646;
}

.services__section-nb .box-dev-item .bottom {
  display: none;
  padding-bottom: 20px;
}

.services__section-nb .box-dev-item .bottom ul {
  padding-left: 25px;
}

.services__section-nb .box-dev-item .bottom li {
  list-style: disc;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 1.2;
}

.services__section-nb .box-dev-item .bottom li:last-child {
  margin-bottom: 0;
}

.services__section-nb .box-dev-item .bottom li a {
  font-size: 18px;
  line-height: 1.2;
  color: #242326;
  transition: 0.4s;
  text-decoration: none;
}

.services__section-nb .box-dev-item .bottom li a:hover {
  color: #FF4646;
}

.services__section-nb .box-dev-item .bottom > a {
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FF4646;
  margin-left: 25px;
  margin-top: 20px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nb__dots {
  width: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.nb__dots:hover .info-w {
  opacity: 1;
  pointer-events: auto;
}

.nb__dots .info-w {
  position: absolute;
  top: 100%;
  left: -15px;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.nb__dots .info-w .white {
  background-color: white;
  box-shadow: 0px 4px 20px rgba(35, 35, 38, 0.05);
  padding: 8px 0;
}

.nb__dots .info-w .white a {
  white-space: nowrap;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #242326;
  transition: 0.3s;
  padding: 6px 20px;
  display: block;
  letter-spacing: unset;
  text-transform: unset;
  opacity: 1;
  text-decoration: none;
}

.nb__dots .info-w .white a:hover {
  color: #FF4646;
}

.nb__dots span {
  display: block;
  background: #A6886D;
  width: 5px;
  height: 5px;
  border-radius: 99px;
}

.nb__dots:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #A6886D;
  width: 5px;
  height: 5px;
  border-radius: 99px;
}

.nb__dots:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #A6886D;
  width: 5px;
  height: 5px;
  border-radius: 99px;
}

.cab__profile .cab__add-wrapper {
  display: flex;
  align-items: center;
}

.cab__history .cab__history-wrapper .cab__history-item .pdf {
  text-decoration: none;
  padding: 8px 20px 5px 8px !important;
  display: flex !important;
  align-items: center;
  line-height: 1;
  position: relative;
  color: #242326;
  transition: 0.4s !important;
  height: auto;
}

.cab__history .cab__history-wrapper .cab__history-item .pdf:after {
  position: absolute;
  color: #242326;
  right: 10px;
  top: 49%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  transition: 0.4s !important;
}

.cab__history .cab__history-wrapper .cab__history-item .pdf:hover {
  background-color: #FF4646;
  color: white;
}

.cab__history .cab__history-wrapper .cab__history-item .pdf:hover:after {
  color: white;
}

.cab__history .cab__history-wrapper .cab__history-item .nb__dots {
  margin-right: 20px;
}

.cab__history .cab__history-wrapper .cab__history-item .nb__dots .info-w {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cab__history .cab__history-wrapper .cab__history-item p {
  margin-bottom: 0;
}

.to-animate {
  transition: all 0.65s ease 0.25s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.to-animate.animated {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .work .col-md-4:nth-child(3n-1) {
    margin: 0 -2px;
  }

  .work .col-md-4:nth-child(4),
  .work .col-md-4:nth-child(5),
  .work .col-md-4:nth-child(6) {
    margin-top: -2px;
    margin-bottom: -2px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (max-width: 1200px) {
  .line {
    display: none;
  }

  .line:nth-child(2) {
    display: block;
  }

  .line:nth-child(5) {
    display: block;
  }
}

@media only screen and (max-width: 1199px) {
  .project__text .project__button {
    margin-top: 40px;
  }

  .news__archive .form__wrapper .form {
    justify-content: center;
    flex-wrap: wrap;
  }

  .news__archive .form__wrapper .form h2,
  .news__archive .form__wrapper .form input {
    width: 100%;
  }

  .news__archive .form__wrapper .form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .news__archive .form__wrapper .form button {
    width: 200px;
    margin: 30px auto;
  }

  .news__archive .form__wrapper .form h2 {
    text-align: center;
    margin-right: 0;
  }

  .about-project__section .about-project__list .about-project-text .images {
    flex-wrap: wrap;
  }

  .about-project__section .about-project__list .about-project-text .images img {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .work:after {
    left: -50px;
  }

  .why-it__section:after {
    right: 0;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .card-header button {
    font-size: 14px;
    line-height: 1.2;
  }

  .ask__question .contacts__section {
    max-width: 100%;
    margin: 30px auto;
  }

  .ask__question .contact__form {
    padding-left: 0;
    text-align: center;
  }

  .contacts__data {
    text-align: center;
  }

  .contacts__section .contact__form form input {
    max-width: 100%;
  }

  .contact__form {
    text-align: center;
  }

  .contact__form button {
    margin: 25px auto;
  }

  .contacts__section .contacts__heading h2 {
    text-align: center;
  }

  header .contacts .row {
    justify-content: space-between;
  }

  .project__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news__item,
  .how-work__section .how-work__item {
    margin: 10px 0;
    padding: 0 10px;
  }

  .footer__menu,
  footer .contacts__wrapper,
  footer .site {
    text-align: center;
    margin-bottom: 30px;
  }

  footer .socials {
    justify-content: center;
  }

  .register__form form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .register__section .register__text {
    padding-left: 0;
    text-align: center;
  }

  .faq__section .news__archive-cats {
    padding-bottom: 0;
  }

  .card-header button {
    transition: .2s;
  }

  .contacts__section {
    padding-bottom: 25px;
  }

  .line-wrapper .line {
    display: none;
  }

  .why-us__section {
    padding: 25px 0 !important;
  }

  .services__section .services__wrapper {
    width: 100%;
  }

  .prices__section .prices__item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .prices__item-left,
  .prices__item-right {
    width: 100%;
  }

  .prices__item-right,
  .prices__item-left {
    text-align: center;
  }

  .service__section .col-md-5 {
    padding-left: 15px;
  }

  .service__descrip {
    padding-left: 0;
  }

  .about-project__section .about-project__list .about-project-number p:after {
    width: 0;
  }
}

@media screen and (max-width: 991px) {
  .work .col-md-4:nth-child(3n-1) {
    margin: -2px 0;
  }

  .service__descrip {
    height: auto;
    padding-top: 10px;
    max-height: unset;
  }

  .service__descrip p {
    line-height: 1.2;
  }

  .service__descrip p:before {
    top: 0.3em;
  }

  .about-project__section:after {
    display: none;
  }

  .card-header button {
    min-height: 50px;
    font-size: 16px;
  }

  .card-body.single__content {
    padding: 10px;
  }

  .card-body.single__content h2 {
    font-size: 24px;
  }

  .card-body.single__content h3 {
    font-size: 20px;
  }

  .card-body.single__content p {
    font-size: 16px;
    line-height: 1.2;
  }

  .card-body.single__content blockquote {
    font-size: 16px;
    line-height: 1.2;
    border-left-width: 2px;
  }

  .why-us__section .col-md-12 {
    width: 100% !important;
  }

  .why-us__section .col-md-4 {
    width: 100% !important;
  }

  .why-us__section .why-us__item {
    margin: 0;
    justify-content: flex-start;
  }

  .why-us__section .why-us__item-text h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2px;
  }

  .us__section {
    height: auto;
  }

  .us__section .caption {
    padding: 40px 0 0;
  }

  .us__section.service__section .col-md-5 {
    height: auto;
  }

  .services__section-nb .container {
    flex-direction: column;
  }

  .services__section-nb .coll-nb-dev {
    width: 100%;
  }

  .nb__dots .info-w {
    left: unset;
    right: -15px;
  }

  .cab__history .cab__history-wrapper .cab__history-item .nb__dots .info-w {
    left: unset;
    right: -15px;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 850px) {
  .pop__up-text h2 {
    margin: 5px 0 10px 0;
  }

  .pop__up-text input {
    margin-bottom: 10px;
  }

  .pop__up-text {
    padding: 15px;
  }

  .pop__up .close {
    position: absolute;
    right: -18px;
    top: -17px;
  }
}

@media only screen and (max-width: 768px) {
  .responsive {
    display: flex;
    justify-content: center;
  }

  .language,
  .user {
    margin: 0 5px;
    color: #fff;
  }

  .language i,
  .user i {
    color: #fff !important;
  }

  .user {
    padding-top: 3px;
  }

  header .menu .header-menu li a {
    color: #fff;
  }

  .pop__up-wrap {
    height: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .work__item {
    height: 100px;
    width: 95%;
    margin: 0 auto 5px auto;
  }

  .collapsed span i:before {
    content: "" !important;
  }

  .navbar-toggler span i:before {
    content: "\f00d";
  }

  header .menu .header-menu li a {
    font-size: 16px;
  }

  .navbar-nav {
    padding-top: 100px !important;
    height: 100vh !important;
    display: block !important;
  }

  .single__section .container {
    width: 100%;
  }

  .breadcrumbs__section {
    padding-top: 50px;
  }

  header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  .hero__section .caption h1 {
    font-size: 30px;
  }

  .hero__section .caption h2 {
    font-size: 18px;
  }

  .why-us__item {
    justify-content: center;
  }

  .work:after,
  .why-it__section:after {
    content: "";
  }

  .menu .col-md-2,
  .menu .col-md-1,
  .contacts {
    display: none;
  }

  .menu .col-md-9 {
    width: 100%;
  }

  .menu .col-md-9 ul {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  .menu .col-md-9 ul li {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    padding: 0;
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }

  .navbar-toggler {
    border: 0;
    background: transparent;
  }

  .navbar-toggler span {
    color: #fff;
  }

  .menu {
    padding: 0;
    background-color: rgba(255, 70, 70, 0.95);
  }

  .news__archive .form__wrapper {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .us__section {
    padding-bottom: 0 !important;
  }

  .us__section .caption {
    padding-top: 80px !important;
  }

  .us__section .caption h1 {
    margin: 0 0 20px;
    line-height: 1.2;
  }

  .us__section .caption h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
  }

  .us__section .caption p {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 1.2;
  }

  .us__section.service__section .form {
    width: 100%;
    max-width: 100%;
  }

  .us__section.service__section .form h3 {
    margin-top: 30px;
  }

  .prices__section .prices__item .prices__item-left {
    min-height: 140px;
    padding: 20px;
  }
}

@media screen and (max-width: 650px) {
  .prices__section .prices__item {
    flex-direction: column;
  }

  .prices__section .prices__item .prices__item-left {
    border: 1px solid #FF4646;
    width: 100%;
    padding: 20px;
    min-height: unset;
  }

  .prices__section .prices__item .prices__item-right {
    width: 100%;
    padding: 20px;
  }

  .prices__section .prices__item .prices__item-right:before {
    opacity: 1;
  }

  .prices__section .prices__item .prices__item-right p {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 640px) {
  .button {
    padding: 20px 25px;
  }

  .best__section .best__heading h2 {
    font-size: 30px;
  }

  .work__heading h2,
  .project__heading h2,
  .news__heading h2 {
    font-size: 32px;
  }

  .single__section .single__heading h2 {
    margin-top: 0;
  }

  .single__section .single__info {
    margin-bottom: 10px;
  }

  .register__section:after {
    content: "";
  }

  .about-project__section .about-project__heading,
  .about-project__section .about-project__list {
    margin-top: 25px;
  }

  section {
    padding: 25px 0 !important;
  }

  .breadcrumbs__section {
    padding: 50px 0 0 0 !important;
  }

  .routine__section-info p {
    font-size: 20px;
  }

  .us__section {
    display: flex;
    align-items: center;
  }

  .hero__section {
    height: auto;
  }

  .hero__section .caption {
    padding: 40px 0 10px 0;
  }

  .hero__section .caption h2 {
    line-height: 28px;
  }

  .hero__section:before {
    content: "";
  }

  .project__text {
    height: auto;
  }

  .news__item {
    flex-wrap: wrap;
  }

  .news__item-image,
  .news__item-info {
    width: 100%;
  }

  .news__item-image img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .routine__section-info {
    padding: 30px 30px;
  }

  footer .contacts__wrapper {
    width: 100%;
  }

  footer .form button {
    position: relative;
    margin-top: 30px;
  }

  footer .form input {
    text-align: center;
  }

  .news.news__archive {
    padding-top: 75px !important;
  }

  .news.news__archive h2 {
    font-size: 32px;
  }

  .why-it__section,
  .news {
    padding-bottom: 50px !important;
  }

  .project__text {
    padding: 20px 20px 50px 20px;
  }

  .project__text p {
    line-height: 1.3;
  }

  .register__section .register__heading {
    margin-bottom: 30px;
  }

  .register__section .register__form button {
    margin-top: 30px;
  }

  .about-project__section .about-project__list .about-project-text {
    padding-bottom: 20px;
  }

  .card-body.single__content h2 {
    font-size: 24px;
  }

  .card-body.single__content h3 {
    font-size: 20px;
  }

  .card-body.single__content h4 {
    font-size: 20px;
  }

  .contacts__section .contacts__heading h2 {
    padding-top: 25px;
  }

  .interest__section .interest__heading h2,
  .how-work__section .how-work__heading h2,
  .why-us__section .why-us__heading h2,
  .why-it__section .why-it__heading h2 {
    font-size: 32px;
  }

  .interest__section .interest__heading h2 {
    margin-bottom: 15px;
  }

  .pop__up-wrap {
    width: 85%;
  }

  .cab__history .cab__history-wrapper .docs-item p {
    margin-right: 20px;
  }

  .permission-wrapper {
    flex-wrap: wrap;
  }

  .permission-wrapper-letter {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .permission-wrapper-text {
    padding-bottom: 10px;
  }

  .permission-wrapper-text ul {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .permission-wrapper {
    padding: 20px 0;
  }

  .permission-wrapper:nth-child(1) {
    padding-top: 40px;
  }

  .permission-wrapper-letter {
    margin-bottom: 5px;
  }

  .permission-wrapper-letter h3 {
    font-size: 28px;
  }

  .permission__section {
    padding-top: 60px !important;
  }

  .permission__section h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .permission__section p {
    font-size: 18px;
    line-height: 1.2;
  }

  .permission-heading h3 {
    margin: 0 0 10px;
    font-size: 20px;
  }

  .permission-alpha {
    padding: 10px 0;
  }

  .permission-alpha a {
    display: inline-block;
    min-width: 34px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  .about-project__section {
    padding-bottom: 0 !important;
  }

  .prices__section-heading h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .news.news__archive.faq__section h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .prices__section .prices__item .prices__item-left h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .news.news__archive.faq__section {
    padding-top: 20px !important;
  }

  .cab__history h3 {
    padding-left: 10px;
  }

  .cab__history .cab__history-wrapper .cab__history-item h3 {
    padding-left: 10px;
    margin: 10px 0;
  }

  .cab__history .cab__history-wrapper .cab__history-item p {
    margin-left: 20px;
  }

  .cab__history {
    padding-bottom: 15px;
  }

  .cab__history .cab__history-wrapper .cab__history-item .pdf {
    margin-left: 10px;
  }

  .cab__section {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .cat-dd {
    margin-left: 15px;
  }

  .services__section-nb .box-dev-item .bottom li {
    font-size: 16px;
  }

  .services__section-nb .box-dev-item .bottom li a {
    font-size: 16px;
  }

  .work__heading {
    margin-bottom: 20px;
  }

  .news__heading h2,
  .project__heading h2,
  .work__heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .routine__section-info h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .work__item h3 {
    margin: 0;
    line-height: 1.2;
  }

  .hero__section .caption h2 {
    line-height: 1.3;
  }

  .routine__section-info p {
    font-size: 16px;
    line-height: 1.25;
  }

  .how-work__section .how-work__heading h2,
  .interest__section .interest__heading h2,
  .why-it__section .why-it__heading h2,
  .why-us__section .why-us__heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .how-work__section .how-work__heading {
    margin-bottom: 10px;
  }

  .how-work__section .how-work__heading h2 {
    margin-bottom: 0;
  }

  .how-work__section .how-work__item {
    height: 140px;
  }

  .how-work__section .how-work__item p {
    margin-bottom: 0;
  }

  .how-work__section {
    padding-top: 0 !important;
  }

  .routine__section {
    padding-bottom: 0 !important;
  }

  .how-work__heading {
    text-align: center;
  }

  .why-it__section .why-it__list ul li {
    margin: 20px 0;
  }

  .why-it__section .why-it__heading h2 {
    margin-bottom: 0;
  }

  .why-it__list {
    margin-bottom: 40px;
  }

  .best__section .best__heading h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .best__section .best__heading p {
    font-size: 16px;
    line-height: 1.25;
  }

  .best__section .col-md-12 {
    padding: 0;
  }

  .project__image img {
    height: 220px;
  }

  .project__text p {
    font-size: 16px;
    line-height: 1.2;
  }

  .project__text {
    padding: 15px 15px 45px 15px;
  }

  .news__heading h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
  }

  .news__heading h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .news__item {
    padding: 0;
    margin-bottom: 25px;
  }

  .news__item .news__item-info {
    padding: 15px;
  }

  .news__item-text h3 {
    margin-top: 3px;
    margin-bottom: 4px;
  }

  .news__item .news__item-text {
    margin-bottom: 15px;
  }

  .news__button {
    margin-top: 30px;
  }

  footer {
    padding: 30px 0;
  }

  footer .footer__menu ul li {
    margin-bottom: 10px;
  }

  .footer__menu,
  footer .contacts__wrapper,
  footer .site {
    margin-bottom: 20px;
  }

  footer .form button {
    margin-top: 10px;
  }

  footer .socials a:last-child {
    margin-right: 0;
  }

  footer .site {
    margin: 40px 0 0;
  }

  .about-project__section .about-project__heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .about-project__section .about-project__list .about-project-text p {
    font-size: 16px;
    line-height: 1.3;
  }

  .about-project__section .about-project__list .about-project-number p {
    font-size: 16px;
    min-height: 16px;
    line-height: 1;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .about-project__section .about-project__list .about-project-number p:after {
    top: 5px;
    left: calc(100% + 6px);
    width: 50px;
  }

  .about-project__section .about-project__list .about-project-text img {
    margin: 0;
    width: 100%;
  }

  .about-project__section .about-project__list .about-project-text .images img {
    margin-top: 15px;
  }

  .about-project__section .about-project__list .about-project-text .images img:first-child {
    margin-top: 0;
  }

  .about-project__section .about-project__list .about-project-text .images {
    margin: 0 0 15px;
  }

  .about-project__section .about-project__list .about-project-text .images:last-child {
    margin-bottom: 0;
  }

  .about-project__section .about-project__list .about-project-text {
    padding-bottom: 30px;
  }

  .routine__us {
    margin-top: 0;
  }

  .register__section .register__heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .register__section .register__form button {
    margin-top: 5px;
  }

  .register__section .register__text {
    padding-top: 20px;
  }

  .register__section .register__text p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .single__section .single__heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .single__section .single__image {
    margin-bottom: 20px;
  }

  blockquote {
    padding: 5px 10px;
  }

  .single__section .single__content blockquote {
    font-size: 16px;
    line-height: 1.3;
  }

  .single__section .single__content p {
    font-size: 16px;
    line-height: 1.3;
  }

  .single__section .single__content h3 {
    font-size: 20px;
    line-height: 1.2;
  }

  .single__section .single__content h4 {
    line-height: 1.2;
  }

  .single__content > * {
    margin: 0 0 15px 0 !important;
  }

  .single__section .single__content ol li,
  .single__section .single__content ul li {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 5px;
  }

  .single__section .single__content ol li:last-child,
  .single__section .single__content ul li:last-child {
    margin-bottom: 0;
  }

  .single__section .single__content ol,
  .single__section .single__content ul {
    padding-left: 20px;
  }

  .interest__section.news {
    padding-top: 0 !important;
  }

  .interest__section .interest__heading h2 {
    margin-bottom: 0;
  }

  .contacts__section .contact__form form button {
    margin: 0;
  }
}